<!DOCTYPE html>
<html>
    <head>
        <title><{$title}></title>
        <!-- Bootstrap -->
        <link href="<{$statics_path}>/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="<{$statics_path}>/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="<{$statics_path}>/assets/styles.css" rel="stylesheet" media="screen">
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="vendors/flot/excanvas.min.js"></script><![endif]-->
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <script src="/gameadmin/statics/scripts/jquery.min.js"></script>
       

        <!--<script src="<{$statics_path}>/bootstrap/js/bootstrap.min.js"></script>-->
        <!-- 
        <script src="<{$statics_path}>/vendors/datatables/js/jquery.dataTables.min.js"></script>
 		-->
		<link rel="stylesheet" type="text/css" href="<{$sinacup_path}>jquery.datetimepicker.css">
		<!--<script src="<{$sinacup_path}>jquery.datetimepicker.js" type="text/javascript"></script>
		<script src="<{$sinacup_path}>/dist/echarts-all.js" type="text/javascript"></script>-->
        <!-- 
        <script src="<{$statics_path}>/vendors/jquery-1.9.1.js"></script>
         --> 
        <!--<script src="<{$sinacup_path}>/../../wanjia/jquery.form.js"></script>-->
    </head>
    <body>